<!-- <div class='card' > 
	<div class='card-title'>{{userDetail.loginDetails.userName}}</div>
	<div class='card-body'>
		<div class='card-text'>
			<div class="row no-gutters">
				<div class="col">First Name</div>
				<div class="col">{{userDetail.name.firstName}}</div>
				<div class="w-100"></div>
				<div class="col">Middle Name</div>
				<div class="col">{{userDetail.name.middleName}}</div>
				<div class="w-100"></div>
				<div class="col">Last Name</div>
				<div class="col">{{userDetail.name.lastName}}</div>
				<div class="w-100"></div>
			</div>
		</div>
	</div>
</div>
 -->

<div class="col-xs-6" (click)="viewUserDetails()">
   <div class="panel panel-info">
      <div class="panel-heading">
      	<div class="row">
      	 <div class="col-xs-6">User name</div>
         <div class="col-xs-6">{{userDetail.loginDetails.userName}}</div>
     </div>
      </div>
      <div class="panel-body">
         <div class="row">
            <div class="col-xs-6">First Name</div>
            <div class="col-xs-6">{{userDetail.name.firstName}}</div>
         </div>
         <div class="row">
            <div class="col-xs-6">Middle Name</div>
            <div class="col-xs-6">{{userDetail.name.middleName}}</div>
          </div>
          <div class="row">
            <div class="col-xs-6">Last Name</div>
            <div class="col-xs-6">{{userDetail.name.lastName}}</div>
         </div>
     
      </div>
   </div>
</div>