<div class="page-header huge">User Details</div>

<div class="form-row  col-lg-6">
  <div class="form-group">
    <label>User Name</label>
    <p class="form-control-static">{{userDetail.loginDetails.userName}}</p>
  </div>
  <div class="form-group">
    <label for="idTitle">Title</label>
    <select id="idTitle" *ngIf="editPage" class="form-control"
            [(ngModel)]="userDetail.name.title">
      <option *ngFor="let title of titles" [ngValue]="title">{{title}}</option>
    </select>
    <p *ngIf="!editPage" class="form-control-static">{{userDetail.name.title}}</p>
  </div>

  <div class="form-group ">
    <label for="idfName">First Name</label>
    <input *ngIf="editPage" id="idfName" class="form-control" type="text" value={{userDetail.name.firstName}}/>
    <p *ngIf="!editPage" class="form-control-static">{{userDetail.name.firstName}}</p>
  </div>
  <div class="form-group ">
    <label  for="idmName">Middle Name</label>
    <input class="form-control"  id="idmName"  *ngIf="editPage" type="text" value={{userDetail.name.middleName}}/>
    <p *ngIf="!editPage" class="form-control-static">{{userDetail.name.middleName}}</p>
  </div>
  <div class="form-group">
    <label for="idSex">Sex</label>
    <select id ="idSex" *ngIf="editPage" class="form-control"
            [(ngModel)]="userDetail.userSex">
      <option *ngFor="let userSex of sex" [ngValue]="userSex">{{userSex}}</option>
    </select>
    <p *ngIf="!editPage" class="form-control-static">{{userDetail.userSex}}</p>
  </div>
</div>
