
<div class="page-header">
  <div class="huge"> Roles
    <div class="pull-right">
      <button type="button" (click)="addNewRole()" class="btn btn-primary">Add new Role</button>
    </div>
  </div>
</div>

<div *ngIf="rolesLoaded">

  <!--<div *ngFor='let role of roles'>-->
    <!--<app-roles-summary [role]='role'>-->
    <!--</app-roles-summary>-->
  <!--</div>-->

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="roles">
      <!-- Position Column -->
      <!--<ng-container matColumnDef="id">-->
        <!--<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>-->
        <!--<mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>-->
      <!--</ng-container>-->

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> <a (click)="deleteRole(element)" >Remove role</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

<div *ngIf="!rolesLoaded">
  <div class="loader"></div>
</div>

<div *ngIf="rolesLoaded && (!roles || !roles.length)">
  <p> No roles found!!! </p>
</div>


