  <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
  </div>


<div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{userDetails.length}}</div>
                        <div>Total Users</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer" (click)="showUserList()">
                    <span class="pull-left" (click)="showUserList()">View User List</span>
                    <span class="pull-right" (click)="showUserList()"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix" (click)="showUserList()"></div>
                </div>
            </a>
        </div>
    </div>
