<!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
	User List
</a> -->


<div *ngFor='let userDetail of userDetails'>
	<app-user-details [userDetail]='userDetail'>	
	</app-user-details>
</div>


<div class='card'> 
	<div class='card-title'><h4>Add New User</h4></div>
	<div class='card-body'>
		<div class='card-text'>
			<div class="row no-gutters">
				<div class="col">First Name</div>
				<input type="text" class="form-control" name="firstName" placeholder="First Name" [(ngModel)]="newUser.name.firstName" /> 
				<div class="w-100"></div>
				<div class="col">User Name</div>
				<input type="text" class="form-control" name="userName" placeholder="User Name" [(ngModel)]="newUser.loginDetails.userName" />

				<!-- <div class="col">Middle Name</div>
				<div class="col">{{newUser.name.middleName}}</div>
				<div class="w-100"></div>
				<div class="col">Last Name</div>
				<div class="col">{{newUser.name.lastName}}</div>
				<div class="w-100"></div> -->
			</div>
		</div>
	</div>
</div>