<div class="page-header huge">User Details</div>

<div class="form-row  col-lg-6">
  <div class="form-group">
    <label for="idUserName" >User Name</label>
    <input    id="idUserName" class="form-control" type="text" [(ngModel)]="userDetail.loginDetails.userName"/>
  </div>

  <div class="form-group">
    <label for="idPassword" >Password</label>
    <input  id="idPassword" class="form-control" type="password" [(ngModel)]="userDetail.loginDetails.password"/>
  </div>


  <div class="form-group">
    <label for="idTitle">Title</label>
    <select id="idTitle"    class="form-control"
            [(ngModel)]="userDetail.name.title">
      <option *ngFor="let title of titles" [ngValue]="title">{{title}}</option>
    </select>
  </div>

  <div class="form-group ">
    <label for="idfName">First Name</label>
    <input    id="idfName" class="form-control" type="text" [(ngModel)]="userDetail.name.firstName" />
  </div>
  <div class="form-group ">
    <label  for="idmName">Middle Name</label>
    <input class="form-control"  id="idmName"  type="text" [(ngModel)]="userDetail.name.middleName"/>
  </div>
  <div class="form-group ">
    <label  for="idmName">Last Name</label>
    <input class="form-control"  id="idLName"  type="text" [(ngModel)]="userDetail.name.lastName"/>
  </div>
  <div class="form-group">
    <label for="idSex">Sex</label>
    <select id ="idSex"    class="form-control"
            [(ngModel)]="userDetail.userSex">
      <option *ngFor="let userSex of sex" [ngValue]="userSex">{{userSex}}</option>
    </select>
  </div>


  <p-accordion [multiple]="true" class="tab-padding">
    <p-accordionTab header="Roles" class="tab-style" [selected]="true">

      <div class="form-group">
        <label  for="idAddRole">Add Role</label>

        <p-dropdown id="idAddRole"  [autoWidth]="false" [options]="rolesSI" [(ngModel)]="selectedRole"
                    editable="true" placeholder="Select a role"></p-dropdown>

        <button  type="button" (click)="addRoleToUser()" class="btn btn-primary "> Add role</button>
      </div>
      <div class="form-group">
        <label for="idRole">Role</label>
        <p-table id="idRole" [value]="userDetail.roles">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-role>
            <tr>
              <td>{{role.name}}</td>
              <td>{{role.description}}</td>
              <td><a (click)="deleteRole(role)">Remove role</a></td>
            </tr>
          </ng-template>
        </p-table>
        <div *ngIf="(!userDetail.roles || !userDetail.roles.length)">
          <p> No roles found!!! </p>
        </div>
      </div>
    </p-accordionTab>
    <div class="form-group tab-padding ">

      <div class="form-group">
        <button type="button" (click)="addNewUser()" class="btn btn-primary ui-lg-offset-6 ui-lg-3">Save new User</button>
        <button  type="button" (click)="backToList()" class="btn btn-primary ui-lg-3">Back to list</button>
      </div>
    </div>
  </p-accordion>


</div>



<div style="clear:both">
</div>
